.graph{
    width: 100%;
}
.info{
    padding: 14px;
    border-radius: 15px;
    font-size: 19px;
    word-break:break-all;
    white-space:unset;
    text-align: center;
}
@media (max-width:800px) {
    .graph{
        width: 100%;
    }
    .info{
        font-size: 16px;
    }
}